* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #FFF;
  color: #2C3E50;
  position: relative;
}

a, a:visited {
  display: block;
  text-decoration: none;
  color: #2C3E50;
}

li {
  list-style: none;
}

span {
  display: block;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 .500rem;
  margin: 0 auto;
}

.wrapper {
  padding-top: 1rem;
}

.devider {
  display: block;
  height: 1px;
  background-color: #EAEAEA;
  border: none;
  margin: .200rem 0 1rem 0;
  width: 20px;
}

.devider.full {
  width: 100%;
}

.error {
  color: #ff2f2f;
  text-align: center;
  padding: 2rem 0;
  font-weight: 600;
}

.logo {
  color: #6B4FBB !important;
  font-weight: 600;
  font-size: 1.5em;
}

.py-1 {
  padding-top: .500rem !important;
  padding-bottom: .500rem !important;
}

.px-2 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.mr-1 {
  margin-right: .500rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.d-none {
  display: none !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.ai-c {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.jc-c {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.jc-sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input {
  display: block;
  width: 100%;
  padding: .900rem .600rem;
  font-weight: 600;
  font-size: .900em;
  outline: none;
  border: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  border-radius: 3px;
}

.input-group {
  display: block;
  margin-bottom: .800rem;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.2rem 1rem;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.alert .close {
  cursor: pointer;
}

.alert-success {
  background-color: rgba(9, 195, 114, 0.2);
  color: #09b96c;
  border: 1px solid #09b96c;
}

.alert-danger {
  background-color: rgba(255, 47, 47, 0.2);
  color: #ff2525;
  border: 1px solid #ff2525;
}

.label {
  display: block;
  font-weight: 600;
  margin: .300rem 0;
}

.btn {
  display: block;
  padding: .700rem .500rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: .900em;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 3px;
}

.btn-primary {
  background-color: #6B4FBB;
  color: #FFF;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-primary:hover {
  background-color: #6144b1;
}

.btn-secondary {
  background-color: #EAEAEA;
  color: #2C3E50;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
}

.btn-danger {
  background-color: #ff2f2f;
  color: #FFF;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-danger:hover {
  background-color: #ff1b1b;
}

.list-group {
  padding: .300rem 0;
}

.list-group .list-item {
  width: 100%;
  border: 1px solid #EAEAEA;
  font-weight: 600;
  padding: .600rem .900rem;
  margin: .200rem 0;
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-tap-highlight-color: transparent;
}

.list-group .list-item .item-title {
  overflow-wrap: anywhere;
  margin: .300rem 0;
}

.list-group .list-item .item-url {
  margin: .300rem 0;
  font-size: .800em;
  color: #6B4FBB;
}

.list-group .list-item .item-created, .list-group .list-item .item-updated {
  margin: .300rem 0;
  background-color: #EAEAEA;
  padding: .300rem .400rem;
  font-size: .800em;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #2C3E50;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 0 1rem 0;
  display: none;
}

.backdrop.show {
  display: block;
}

.modal {
  width: 100%;
  max-width: 700px;
  background-color: #FFF;
  padding: 2rem 1rem;
  border-radius: 4px;
  margin: auto;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  margin-bottom: .500rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title-md {
    font-size: 1.3rem;
  }
}

.text-primary {
  color: #6B4FBB !important;
}

.footer {
  background-color: #FFF;
  border-top: 1px solid #EAEAEA;
  padding: 1.2em 0;
  text-align: center;
  margin-top: 5rem;
}

.footer p {
  font-weight: 600;
}

.footer p span {
  display: inline-block;
  color: #6B4FBB;
}

@media screen and (max-width: 500px) {
  .list-group .list-item {
    padding: .200rem .500rem .400rem .500rem;
  }
  .list-group .list-item .item-title {
    margin: .300rem 0;
    font-size: .900em;
  }
  .list-group .list-item .item-url {
    font-size: .700em;
  }
  .list-group .list-item .item-created, .list-group .list-item .item-updated {
    font-size: .600em;
  }
}

.navbar {
  width: 100%;
  padding: .500rem 0;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.form-create-link {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
}

.my-name {
  display: inline-block;
  color: #6B4FBB !important;
}

.my-name:hover {
  text-decoration: underline;
}

.link-icon-github {
  color: #2C3E50;
  font-size: 2rem;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  gap: 20px;
}

.grid-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr .3fr;
      grid-template-columns: 1fr 1fr 1fr .3fr;
  gap: 5px;
}

.grid-import-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.tab-item {
  display: none;
}

#btnAdd, #btnEdit {
  width: 100%;
  margin-top: 1.4rem;
}

.btn-back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  -webkit-tap-highlight-color: transparent;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  background-color: #6B4FBB;
  cursor: pointer;
  color: white;
}

.btn-back-to-top.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-back-to-top:hover {
  -webkit-box-shadow: 0 5px 10px rgba(107, 79, 187, 0.5);
          box-shadow: 0 5px 10px rgba(107, 79, 187, 0.5);
}

.btn-visit, .btn-delete, .btn-detail, .btn-show-modal-edit, .btn-delete-all {
  padding: 1.4rem !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 21px;
}

.btn-visit {
  margin-right: .200rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-link-2'%3e%3cpath d='M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3'%3e%3c/path%3e%3cline x1='8' y1='12' x2='16' y2='12'%3e%3c/line%3e%3c/svg%3e");
}

.btn-visit:visited {
  color: #FFF;
}

.btn-delete, .btn-delete-all {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3e%3cpolyline points='3 6 5 6 21 6'%3e%3c/polyline%3e%3cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'%3e%3c/path%3e%3cline x1='10' y1='11' x2='10' y2='17'%3e%3c/line%3e%3cline x1='14' y1='11' x2='14' y2='17'%3e%3c/line%3e%3c/svg%3e");
}

.btn-show-modal-edit {
  margin-right: .200rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'%3e%3cpath d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'%3e%3c/path%3e%3cpath d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-collapse {
  display: none;
}

.btn-detail {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}

.btn-detail.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
  .container {
    width: 600px;
  }
  .btn-collapse {
    display: block;
  }
  .grid-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form-create-link {
    position: static;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .btn-visit, .btn-delete, .btn-detail, .btn-show-modal-edit {
    padding: 1.1rem !important;
  }
  .btn-back-to-top {
    bottom: 20px;
    right: 20px;
  }
  .grid-import-links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer p {
    font-size: .800rem;
  }
}
/*# sourceMappingURL=main.css.map */