*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
    background-color: $backgroundColor;
    color: $textColor;
    position: relative;
}

// RESET

a, a:visited{
    display: block;
    text-decoration: none;
    color: $textColor;
}

li{
    list-style: none;
}

span{
    display: block;
}

// UTILITIES

.container{
    width: 1200px;
    max-width: 100%;
    padding: 0 .500rem;
    margin: 0 auto;
}

.wrapper{
    padding-top: 1rem;
}

.devider{
    display: block;
    height: 1px;
    background-color: $grayColor;
    border: none;
    margin: .200rem 0 1rem 0;
    width: 20px;
    
    &.full{
        width: 100%;
    }
}

.error{
    color: $dangerColor;
    text-align: center;
    padding: 2rem 0;
    font-weight: $bold;
}

.logo{
    color: $primaryColor !important;
    font-weight: $bold;
    font-size: 1.5em;
}

// MARGIN & PADDING
.py-1{
    padding-top: .500rem !important;
    padding-bottom: .500rem !important;
}

.px-2{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.mr-1{
    margin-right: .500rem !important;
}

.mb-2{
    margin-bottom: 1rem !important;
}

.mt-2{
    margin-top: 1rem !important;
}

// DISPLAY
.d-none{
    display: none !important;
}

// FLEX

.flex{
    display: flex !important;
}

.ai-c{
    align-items: center !important;
}

.jc-c{
    justify-content: center !important;
}

.jc-sb{
    justify-content: space-between !important;
}

.flex-1{
    flex: 1;
}

// INPUTS

.input{
    display: block;
    width: 100%;
    padding: .900rem .600rem;
    font-weight: $bold;
    font-size: .900em;
    outline: none;
    border: 1px solid $grayColor;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.input-group{
    display: block;
    margin-bottom: .800rem;
}

// ALERT
.alert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 1rem;
    font-weight: $bold;
    border-radius: 4px;
    margin-bottom: 1rem;

    .close{
        cursor: pointer;
    }
}

.alert-success{
    background-color: rgba($successColor, .2);
    color: darken($successColor, 2);
    border: 1px solid darken($successColor, 2);
}

.alert-danger{
    background-color: rgba($dangerColor, .2);
    color: darken($dangerColor, 2);
    border: 1px solid darken($dangerColor, 2);
}

// LABELS

.label {
    display: block;
    font-weight: $bold;
    margin: .300rem 0;
}

// BUTTONS

.btn{
    display: block;
    padding: .700rem .500rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-weight: $bold;
    font-size: .900em;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 3px;
}

.btn-primary{
    background-color: $primaryColor;
    color: $whiteColor;
    transition: background-color .3s;

    &:hover{
        background-color: darken($primaryColor, 4);
    }
}

.btn-secondary{
    background-color: $grayColor;
    color: $textColor;
    transition: background-color .3s;

    &:hover{
        background-color: darken($grayColor, 4);
    }
}

.btn-danger{
    background-color: $dangerColor;
    color: $whiteColor;
    transition: background-color .3s;

    &:hover{
        background-color: darken($dangerColor, 4);
    }
}

// LISTS

.list-group{
    padding: .300rem 0;
    
    .list-item{
        width: 100%;
        border: 1px solid $grayColor;
        font-weight: $bold;
        padding: .600rem .900rem;
        margin: .200rem 0;
        border-radius: 3px;
        transition: background-color .3s;
        -webkit-tap-highlight-color: transparent;

        .item-title{
            overflow-wrap: anywhere;
            margin: .300rem 0;
        }
        
        .item-url{
            margin: .300rem 0;
            font-size: .800em;
            color: $primaryColor;
        }

        .item-created, .item-updated{
            margin: .300rem 0;
            background-color: $grayColor;
            padding: .300rem .400rem;
            font-size: .800em;
            display: block;
            width: max-content;
            color: $textColor;
        }

    }
}

// MODAL
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 2rem 0 1rem 0;
    display: none;
}

.backdrop.show{
    display: block;
}

.modal{
    width: 100%;
    max-width: 700px;
    background-color: $whiteColor;
    padding: 2rem 1rem;
    border-radius: 4px;
    margin: auto;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// HEADINGS

.title{
    margin-bottom: .500rem;
}

@media (max-width: $small){
    .title{
        font-size: 1.5rem;
    }
    
    .title-md{
        font-size: 1.3rem;
    }
}

// TEXTS
.text-primary{
    color: $primaryColor !important;
}

// FOOTERS

.footer{
    background-color: $whiteColor;
    border-top: 1px solid $grayColor;
    padding: 1.2em 0;
    text-align: center;
    margin-top: 5rem;

    p{
        font-weight: $bold;

        span{
            display: inline-block;
            color: $primaryColor;
        }
    }
}

@media screen and(max-width: $small){
    .list-group{
        .list-item{
            padding: .200rem .500rem .400rem .500rem;

            .item-title{
                margin: .300rem 0;
                font-size: .900em;
            }
            
            .item-url{
                font-size: .700em;
            }
    
            .item-created, .item-updated{
                font-size: .600em;
            }
        }
    }
}