$backgroundColor: #FFF;
$whiteColor: #FFF;
$textColor: #2C3E50;
$primaryColor: #6B4FBB;
$dangerColor: #ff2f2f;
$grayColor: #EAEAEA;
$successColor: #09C372;

$bold: 600;

$small: 500px;
$medium: 800px;