$backgroundColor: #FFF;
$whiteColor: #FFF;
$textColor: #2C3E50;
$primaryColor: #6B4FBB;
$dangerColor: #ff2f2f;
$grayColor: #EAEAEA;

$bold: 600;

body.dark {
    $backgroundColor: #000;
    background-color: $backgroundColor;
}