@import 'variables';
@import 'global';

.navbar{
    width: 100%;
    padding: .500rem 0;
    background-color: darken($whiteColor, 1);
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    margin-bottom: 2rem;
}

.form-create-link{
    position: sticky;
    height: 100vh;
    top: 0;
}

.my-name{
    display: inline-block;
    color: $primaryColor !important;

    &:hover{
        text-decoration: underline;
    }
}

.link-icon-github{
    color: $textColor;
    font-size: 2rem;
}

.grid-layout{
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 20px;
}

.grid-features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.grid-import-links{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 5px;
}

.tab-item{
    display: none;
}

.btn-add{
    width: 100%;
    margin-top: 1.4rem;
}

.btn-back-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    -webkit-tap-highlight-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: box-shadow .3s;
    background-color: $primaryColor;
    cursor: pointer;
    color: white;

    &.show{
        display: flex;
    }

    &:hover{
        box-shadow: 0 5px 10px rgba($primaryColor, .5);
    }
}

.btn-visit, .btn-delete{
    padding: 1.4rem !important;
}

.btn-visit{
    margin-right: .200rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3e%3cpath fill='%23FFF' d='M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-visit:visited{
    color: $whiteColor;
}

.btn-delete{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3e%3cpath fill='%23FFF' d='M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-visit, .btn-delete{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 21px;
    padding: 1.2rem;
}

@media screen and(max-width: 800px){
    .container{
        width: 600px;
    }

    .grid-layout{
        grid-template-columns: 1fr;
    }

    .form-create-link{
        position: static;
        height: auto;
    }
}

@media screen and(max-width: 500px){
    .btn-visit, .btn-delete{
        padding: 1.1rem !important;
    }

    .btn-back-to-top{
        bottom: 20px;
        right: 20px;
    }

    .grid-import-links{
        grid-template-columns: 1fr;
    }
}