* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #FFF;
  color: #2C3E50;
  position: relative;
}

a, a:visited {
  display: block;
  text-decoration: none;
  color: #2C3E50;
}

li {
  list-style: none;
}

span {
  display: block;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 .500rem;
  margin: 0 auto;
}

.wrapper {
  padding-top: 1rem;
}

.devider {
  display: block;
  height: 1px;
  background-color: #EAEAEA;
  border: none;
  margin: .200rem 0 1rem 0;
  width: 20px;
}

.devider.full {
  width: 100%;
}

.error {
  color: #ff2f2f;
  text-align: center;
  padding: 2rem 0;
  font-weight: 600;
}

.logo {
  color: #6B4FBB !important;
  font-weight: 600;
  font-size: 1.5em;
}

.py-1 {
  padding-top: .500rem;
  padding-bottom: .500rem;
}

.mr-1 {
  margin-right: .500rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.ai-c {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.jc-c {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.jc-sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input {
  display: block;
  width: 100%;
  padding: .900rem .600rem;
  font-weight: 600;
  font-size: .900em;
  outline: none;
  border: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  border-radius: 3px;
}

.input-group {
  display: block;
  margin-bottom: .800rem;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.2rem 1rem;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.alert .close {
  cursor: pointer;
}

.alert-success {
  background-color: rgba(9, 195, 114, 0.2);
  color: #09b96c;
  border: 1px solid #09b96c;
}

.alert-danger {
  background-color: rgba(255, 47, 47, 0.2);
  color: #ff2525;
  border: 1px solid #ff2525;
}

.label {
  display: block;
  font-weight: 600;
  margin: .300rem 0;
}

.btn {
  display: block;
  padding: .700rem .500rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: .900em;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 3px;
}

.btn-primary {
  background-color: #6B4FBB;
  color: #FFF;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-primary:hover {
  background-color: #6144b1;
}

.btn-secondary {
  background-color: #EAEAEA;
  color: #2C3E50;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
}

.btn-danger {
  background-color: #ff2f2f;
  color: #FFF;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-danger:hover {
  background-color: #ff1b1b;
}

.list-group {
  padding: .300rem 0;
}

.list-group .list-item {
  width: 100%;
  border: 1px solid #EAEAEA;
  font-weight: 600;
  padding: .600rem .900rem;
  margin: .200rem 0;
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-tap-highlight-color: transparent;
}

.list-group .list-item .item-title {
  overflow-wrap: anywhere;
  margin: .300rem 0;
}

.list-group .list-item .item-url {
  margin: .300rem 0;
  font-size: .800em;
  color: #6B4FBB;
}

.list-group .list-item .item-created {
  margin: .300rem 0;
  background-color: #EAEAEA;
  padding: .300rem .400rem;
  font-size: .800em;
  display: inline;
  color: #2C3E50;
}

.title {
  margin-bottom: .500rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title-md {
    font-size: 1.3rem;
  }
}

.text-primary {
  color: #6B4FBB !important;
}

.footer {
  background-color: #FFF;
  border-top: 1px solid #EAEAEA;
  padding: 1.2em 0;
  text-align: center;
  margin-top: 5rem;
}

.footer p {
  font-weight: 600;
}

.footer p span {
  display: inline-block;
  color: #6B4FBB;
}

@media screen and (max-width: 500px) {
  .list-group .list-item {
    padding: .200rem .500rem .400rem .500rem;
  }
}

.navbar {
  width: 100%;
  padding: .500rem 0;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.form-create-link {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
}

.my-name {
  display: inline-block;
  color: #6B4FBB !important;
}

.my-name:hover {
  text-decoration: underline;
}

.link-icon-github {
  color: #2C3E50;
  font-size: 2rem;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  gap: 20px;
}

.grid-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.grid-import-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.tab-item {
  display: none;
}

.btn-add {
  width: 100%;
  margin-top: 1.4rem;
}

.btn-back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  -webkit-tap-highlight-color: transparent;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  background-color: #6B4FBB;
  cursor: pointer;
  color: white;
}

.btn-back-to-top.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-back-to-top:hover {
  -webkit-box-shadow: 0 5px 10px rgba(107, 79, 187, 0.5);
          box-shadow: 0 5px 10px rgba(107, 79, 187, 0.5);
}

.btn-visit, .btn-delete {
  padding: 1.4rem !important;
}

.btn-visit {
  margin-right: .200rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3e%3cpath fill='%23FFF' d='M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-visit:visited {
  color: #FFF;
}

.btn-delete {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3e%3cpath fill='%23FFF' d='M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z'%3e%3c/path%3e%3c/svg%3e");
}

.btn-visit, .btn-delete {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 21px;
  padding: 1.2rem;
}

@media screen and (max-width: 800px) {
  .container {
    width: 600px;
  }
  .grid-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form-create-link {
    position: static;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .btn-visit, .btn-delete {
    padding: 1.1rem !important;
  }
  .btn-back-to-top {
    bottom: 20px;
    right: 20px;
  }
  .grid-import-links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */